.logo {
    padding: 0!important;
    background-color: aquamarine;
    border-radius: 6px;
    color: rgb(151, 37, 37)!important;
    font-weight: bolder;
    font-family: Brush Script MT;
    letter-spacing: 2px;
}
.logo span {
    background-color: rgb(13, 32, 32);
    padding: 5px;
    border-radius: 3px;
    font-size: 30px;
}
.container-fluid {
    background-color: #555;
    padding: 3px;
}
.navbar {
    padding: 0px!important;
}
.nav-item a {
    color: white!important;
    margin-left: 10px;
}
.nav-item a:hover {
    background-color: rgb(68, 62, 62);
    color: rgb(0, 225, 255)!important;
}
.navbar-collapse {
    flex-grow: 0!important;
    margin-right: 60px;
}
.content {
    background-color: cyan;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 200px;
}
.picture {
    width: 300px;
    height: 300px;
    border-radius: 50px;
}
h6 {
    color: rgb(43, 124, 56);
    font-size: 20px!important;
    font-weight: bolder;
}
.content-about-me {
    padding: 100px 0px;
}
.content-about-me h3 { 

    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: rgb(92, 92, 16);
}
.content-about-me p {
    padding: 30px 150px;
    text-align: center;
    font-size: 20px;
}
.content-portfolio {
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 150px;
    background-color: rgb(45, 68, 90);
}
.content-portfolio h3 {
    
    font-size: 30px;
    font-weight: bolder;
    color:rgb(146, 179, 206)
}
.content-portfolio a img {
    border: 2px solid black;
    border-radius: 10px;
}
.content-portfolio p {

    color: black;
}
.fb-pic {

    width: 80px;
    height: 80px;
}
.gm-pic {

    width: 150px;
    height: 80px;
}
.content-contacts {

    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    padding: 80px;
}
.flex-contacts {
    display: flex;
    gap: 60px;
    line-height: 60px;
    font-weight: bold;
}
.flex-contacts  .fb-link {
    display: flex;
    flex-direction: column;
}
.fb-link a {

    text-decoration: none;
    color: black;
}
.number {
    width: 80px;
    height: 80px;
}
footer {
    color: white;
    background-color: #1A252F;
    width: 100%;
    margin: 0;
    padding: 20px 0 5px 0;
    text-align: center;
}